.layers{
    margin-top:50px;
}

#resultLayer{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
    
    background-color:rgba(139,137,137,0.65);
    
    z-index:9999;
    display: none;
    
    cursor:pointer;
}

.charts{
    position:absolute;
    margin: 10px;
    float: left;
}

#evaluationList{
    margin-right : auto;
    margin-left : auto
}

.evaluationIDs{
    cursor:pointer;
}

.indexTD{
    width:10%;
}

.tokenTD{
    width:30%;
}

.titleTD{
    width:50%;
}

.dateTD{
    width:10%;
}

.pageData{
    width:auto;
    height:auto;
    padding:20px;
    margin:10px;
    background-color:rgba(255,255,255,1.0);
}

.myPageHeader{
    font-size:30px;
}

.myMiniHeader{
    font-size:20px;
}
